<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Комісійний магазин</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

  <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header class="container" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Комісійний</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" id="main">
            <a class="nav-link smooth" href="/">Головна<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id="addProduct">
            <a class="nav-link smooth" href="/authorization">Додати товар</a>
          </li>
          <li class="nav-item" id="registry">
            <a class="nav-link smooth" href="/registry">Реєстрація</a>
          </li>
        </ul>
        <div>
          <a class="nav-link" href="/shopping-cart"><i class="fas fa-shopping-cart"></i>Корзина<span id="cart-badge" class="badge badge-light"></span></a>
        </div>
      </div>
    </nav>
  </header>
  <main class="container">
