<div class="container">
  <div class="jumbotron">
    <div class="intro mx-auto">
      <h1 class="display-4">Вітаємо!</h1>
      <p class="lead">Комісійний онлайн-магазин</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg smooth" href="#" role="button">Розпочати покупки</a>
      </p>
    </div>
  </div>
</div>
